*{margin: 0;padding: 0;}
li{list-style-type: none}
div{
    height: 1594px;
    background: linear-gradient(#03f4ca52, pink);
}
div h3{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 60px;
}
div,form,ul{
    width: 100%;
}
div form ul li span{
    font-size: 45px;
}
div form ul li{
    height: 90px;
    margin-top: 30px;
    line-height: 90px;
    padding-left: 100px;
    color: blue;
}
div form ul li input{
    outline: none;
    width: 50%;
    height: 70px;
    border: 1px solid #042929d6;
    font-size: 45px;
    padding-left:10px ;
    background: none;
}
div form ul li:nth-child(12){
    padding-left: 0;
    text-align: center;
}
div form ul li:nth-child(12) input{
    background: deepskyblue;
    width: 25%;
    border: none;
    font-weight: bold;
    color: azure;
}