*{margin: 0;padding: 0;}
.big_box{
    width: 100%;
    height: 1742px;
    position: relative;
}
.big_box .big_left_box{
    width: 50%;
    height: 1500px;
    background: #64d9f3;
    float: left;
}
.big_box .big_right_box{
    width: 50%;
    height: 1500px;
    float: left;
}
.big_box .big_right_box .top_box{
    width: 100%;
    height: 35%;
    background: #ffc4bf;
}
.big_box .big_right_box .center_box{
    width: 100%;
    height: 35%;
    background: #ffd899;
}
.big_box .big_right_box .bottom_box{
    width: 100%;
    height: 10%;
    background: #C8F6FF;
}
.big_box .big_right_box .bottom2_box{
    width: 100%;
    height: 25%;
    background: #b9b9b9;
}

.big_box .big_bottom_box{
    width: 100%;
    height: 242px;
    float: left;
    background: #ffc4bf;
}
.big_box .login{
    width: 90%;
    height: 800px;
    background: white;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 999;
    float: left;
}
.big_box .login form{
    width: 80%;
    height: 90%;
    margin: 0 auto;
    font-size: 45px;
    padding: 5%;
}
.big_box .login form .user_input{
    color: silver;
    margin-top: 7%;
}
.big_box .login form .user_input span{
    width: 30%;
    color: silver;
    display: inline-block;
}
.big_box .login form .user_input input{
    width: 60%;
    height: 50px;
    outline: none;
    border: none;
    border-bottom: 1px solid silver;
    font-size: 40px;
}
.big_box .login form div{
    width: 90%;
    height: 40%;
    margin: 15% auto 0px;
    text-align: center;
}
.big_box .login form div .log_input{
    height: 30%;
    margin-top: 7%;
    border-radius: 65px;
    padding: 3%;
}
.big_box .login form div .log_input span{
    display: inline-block;
    width: 2%;
    height: 94%;
    line-height: 200%;
    float: left;
}
.big_box .login form div .log_input:nth-child(1){
    background: deepskyblue;
    color: white;
}
.big_box .login form div .log_input:nth-child(2){
    border: 1px solid deepskyblue;
    color: deepskyblue;
}
.big_box .login form div .log_input input{
    width: 92%;
    height: 94%;
    border: none;
    outline: none;
    background: deepskyblue;
    border-radius: 50px;
    color: white;
    font-size: 45px;
    line-height: 100%;
    float: left;
}
.big_box .login form div .log_input a{
    width: 91%;
    height: 94%;
    display: inline-block;
    text-decoration: none;
    font-size: 45px;
    color: deepskyblue;
    line-height: 200%;
    border-radius: 50px;
    float: left;
}